/* AddThis social sharing component  */

@import "compass";

.socialShare-addThis{
  border-right:1px solid #ccc;
  display: none; 
  line-height: 0;
  position: absolute; 
  z-index: 1; 

  a{
    display: inline-block; margin: 0 0 0 8px; padding: 0 !important;
  }
}

.socialShare-outer { position: absolute; width: 100%; z-index: 1; }

.socialShare-inner { margin: 0 auto; position: relative; }

.addThisVertical {
  position: absolute;
  top: 20px;
  background: rgb(255,255,255); /* Old browsers */

  a{
    display: block; margin: 5px;
  }

  &.addthis_default_style{
    background: none;
    left: -23px;
    width: 36px; 
  }

  &.addthis_20x20_style{
    left: -61px;
    width: 40px; 

    a{
      margin: 10px;
    }
  }

  &.addthis_32x32_style{
    width: 52px; margin: 10px; left: -62px;

    a{
      margin: 12px;
    }
  }
}

#micrositeHeader .socialShare-addThis { right: 25px; top: 50px; }
#micrositeFooter .socialShare-addThis { right: 25px; top: 50px; }
#micrositeContentColumnFull {
  .socialShare-addThis { 
    top: auto !important; 
    bottom: 0; 
    left: 0; 
    background-color: #ccc; 
    padding: 6px 10px; 
    border-radius: 0 6px 0 0;

    a:first-child{
     margin: 0; 
    }
  }
}
