*{
	box-sizing:border-box;
}

.menu{
	list-style:none;

	li{
		display: inline;
		margin:0 10px;

		a{
			color:#000;
			font-size: 16px;
			font-weight: normal;
			text-decoration: none;

			&:hover{
				text-decoration: none;
			}
		}

		.active{
			background:#d1d1d1;
			border-radius: 3px;
			padding:3px 5px;
		}
	}
}