#micrositeContentColumnLeft { margin: 0; float: left; width: 320px; }
// #micrositeContentColumnRight { margin: 0; float: right; width: 300px; border: 1px solid red; }
#micrositeContentColumnMain { 
  margin: 0; 
  float: right; 
  width: 820px; 
  position: relative; 
  h1 {
    margin: 30px 0 10px;
  }
  p {
    margin: 15px 0;
  }
  .calloutBox {
    h1 {
      font-size: 27px;
      font-weight: normal;
      margin: 0;
    }
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
   .mainContent{
    width: 600px;
   }
}
#micrositeHeader { margin: 0 0 25px; position: relative; 
  h1{
    font-size: 26px;
    margin: 10px 0;
  }
}
#micrositeFooter { background: #000; color: #fff; border: solid 1px #e6e6e6; padding: 0 0 20px; margin: 0; text-transform: uppercase; height:300px; }
h1 {
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 20px 0;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}
h4 {
  font-size: 14px;
  line-height: 24px;
}
p {
  margin-bottom: 15px;
}
.group:after {
content: "";
display: table;
clear: both;
}
.hidden {
display: none;
}
.fleft {
float: left;
}
.fright {
float: right;
}

.bottom{
  position: absolute;
  bottom:0;
}

.topFixed{
  position: fixed !important;
  top:10px !important;
  padding-left: 640px !important;
}

.topRelative{
  position: relative;
  top:0;
}

ul.footer {
  margin: 55px auto 95px !important;
  padding: 0 !important;
  width: 1000px;
  li {

    float: left;
    width: 200px;
    list-style-type: none;
    padding: 0 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    &:last-of-type {
      padding-right: 0;
    }
    &:nth-of-type(1) {
      padding-left: 0;
    }
    &:nth-of-type(5n) {
      padding-right: 0;
    }
    &:nth-of-type(6) {
      clear: left;
      padding-left: 0;
    }
  }
}
ul.copyright {
  width: 1000px;
  margin: 0 auto;
  li {
    a{
      color:#fff !important;
    }
    font-size: 10px;
    list-style-type: none;
    float: left;
    margin-right: 30px;
  }
}

.mainRightSidenav {
    margin-bottom: 20px;
    margin-right: 30px;
    h3 {
      margin: 40px 0 15px;
      text-transform: uppercase;
      width: 150px !important;
      &:first-of-type {
        margin-top: 0;
      }
    }
    a {
      font-size: 12px;
      color: #000;
      text-decoration: underline;
      text-transform: uppercase;
    }
    ul.rightSidenav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 14px;
      width: 150px !important;
      li {
        margin: 0 0 10px 0;
        &:last-of-type {
          margin: 0;
        }
        a {
          color: #989898;
          font-size: 14px;
          text-decoration: none;
          text-transform: none;
        }
        &.on {
          a {
            color: #000;
          }
        }
      }
    }
  }